@tailwind base;
@tailwind components;
@tailwind utilities;

.font-homo{
    font-family: "Oxanium-SemiBold", Helvetica;
}
.bg {
    position: fixed;
    width: 100%;
    height: 1082px;
    top: 0;
    left: 0px;
    object-fit: cover;
}
.font-sp{
 font-family: "Obritron-Semibold", sans-serif;;
}
